@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';



body{


         font-family: 'Inter', sans-serif;

       
}


.my-thin-text {
  font-family: "sans-serif" ;
  font-weight: 100; 
}