@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'p_p';
  src: url('/fonts/PP.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}





.p_p {
  font-family: "p_p", sans-serif;
}


body{


         font-family: 'Inter', sans-serif;

       
}


.my-thin-text {
  font-family: "sans-serif" ;
  font-weight: 100; 
}